// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

//@media screen and (max-width: 425px) {

.row {
  margin-left: 0;
  margin-right: 0;
}
  .header {
    overflow: hidden;
    background: #080808 url(../../../images/theming/taxonomy/background.png) repeat;
    position: relative;

    .navbar-default {
      background: none;
      border: 0;

      .navbar-toggle {
        background: rgba(128, 128, 128, 0.75);
        border-radius: 0;
        border: 0;
        width: 65px;
        height: 36px;
        text-align: -webkit-center;
      }
    }

    .navbar-collapse {
      border: 0;
    }
  }

  .header::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/theming/taxonomy/header-background.png);
    background-size: 100% 100%;
  }

  .path-home {
    .main-container {
      width: 100%;
      padding: 0;

      .col-sm-12 {
        padding: 0;
      }
    }
  }

  .block-views-blockslider-block-1 {
    padding: 12px;
    background: #212121 url(../../../images/theming/taxonomy/background.png) repeat;

    img {
      width: 100%;
    }

    .slick-dots{
      display: inline-block;
      width: auto;
      position: absolute;
      right: 24em;
      bottom: 1em;
    }

    .slick-slider {
      margin-bottom: 0;
    }

    .slick-dots li button::before {
      font-size: 1.75rem;
    }
  }

  .block-views-blockkategorii-block-1 {
    text-align: center;
    padding: 12px;
    background: #212121 url(../../../images/theming/taxonomy/background.png) repeat;

    .views-col {
      margin: 0;
    }

    .form-group{
      display: inline-block;
      margin: 0 auto;
    }

    .link_to_taxonomy {
      padding: 1.25em 80px 1em 1.25em;
      background: url(../../../images/theming/taxonomy/bg01.png) no-repeat right top;
      position: relative;
      text-align: left;
    }

    .link_to_taxonomy::before {
      display: inline-block;
      font-family: FontAwesome;
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f0a9';
      position: absolute;
      right: 24px;
      top: 50%;
      margin-top: -32px;
      font-size: 64px;
      color: #fff;
    }

    h2 {
      line-height: 1.25em !important;
      font-size: 1.5em !important;
      letter-spacing: 0px !important;
      a {
        color: #fff;
      }
    }

    p {
      font-weight: 300;
      letter-spacing: 0;
      opacity: 0.65;
      color: inherit;
      margin: 0.25em 0 0 0;
      font-size: 1.25em;
      line-height: 1.5em;
    }

    .views-col {
      margin-bottom: 14px;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .col-1 {

      .link_to_taxonomy {
        background-color: #0087cd;
      }
    }

    .col-2 {

      .link_to_taxonomy {
        background-color: #d93d00;
      }
    }

    .col-3 {

      .link_to_taxonomy {
        background-color: #414141;
      }
    }
  }

  .block-views-blockview-materials-departments-block-1 {
    padding: 12px;

    img {
      width: 100%;
    }
  }
//}
